{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}
{% if user.is_authenticated %}

<div class="card mx-auto mt-4 p-4 shadow-sm" style="max-width: 40rem;">
<div class="card-body text-center">

    <h1>Edit Profile </h1>
    <hr class="rounded">
    <br>
    <div>
        <img src="{% static 'images/icon1.png' %}" alt="" height="150rem" width="150rem">
    </div>
    <br>
    {% if is_manager %}
    <strong>Title: Manager</strong>
    {% endif %}
    Username: {{ user.profile.user }} <br>
    Age: {{ user.age }}
    <hr class="rounded">
    <strong><p>Note: You cannot change your username</p></strong>
    <form method="POST">
        {% csrf_token %}
        <strong>Favourites: {{ form.as_p }}</strong>
        <input class="btn btn-dark" type="submit" value="Update Profile">
    </form>

</div>
</div>
</div>

{% endif %}
{% endblock content %}
