{% extends 'base.html' %}
{% load static %}
{% block title %}User Profile{% endblock title %}
{% block content %}

    <br>
    <div class="text-center">
        <h1>Profile</h1>
        <hr class="rounded">
        <img src="{% static 'images/icon1.png' %}" alt="" height="150rem" width="150rem">
    </div>
    <br>
    <br>
    <div class="text-center">
        {% if is_manager %}
        <strong>Title: Manager</strong>
        {% endif %}
    <br>
        Username: {{ user.profile.user }}
    <br/>
        Favourite Developer: {{ user.profile.Developer }}
        <br>
        Favourite Category: {{ user.profile.Category }}
        <br>
        <hr class="rounded">
        <strong>Permissions:</strong>
        <br>
        <a href="{% url 'password_change' %}"><button class = "btn btn-dark">Change Password</button></a>
        <a href="{% url 'edit_profile' user.profile.pk %}"><button class="btn btn-dark">Edit profile</button></a>
        {% if is_manager %}
        <br>
        <strong>Manager Permissions:</strong>
        <br>
        <a href="{% url 'pages:game_create' %}"><button class = "btn btn-dark">Add Product</button></a>
        {% endif %}
    </div>
{% endblock content %}