#HomeBox1 {
    color: purple;
    border-style: double;
    border-color: black;
    padding: 3.5%;
}

#HomeBox2 {
    border-style: double;
    margin-top: 2%;
    padding: 5%;
}

#HomeBox3 {
    border-style: double;
    margin-top: 2%;
    padding: 5%;
}

#blurry {
    filter: blur(8.1px);
}

/****Cart Page****/
.my_custom_table {
    min-width: 400px;
    font-size: 14px;
    }
.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.custom_image {
    width: 100px;
    height: 100px;
}
.custom_a {
    text-decoration: none;
}
.custom_icon {
    text-decoration: none;
    
}

.shop li{
	list-style: none;
}

.bg-royalblue{
    background-color: #03256c;
}

body{
    background-color: #F1EFFA;
}
.cart_table{
    border-radius: 2em;
}

.test{
    background-color: aliceblue;
}
.karl :hover{
    background-color: #6290C3;
    max-width: max-content;
    max-height: max-content;
    border-radius: 1em;

}
.payment {
	background-color: #03256c !important;
	color: white;
	font-size: 16px;
	border: none;;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	width: 80%;
	margin-bottom: 10px;
}

.my_bottom_margin{
    margin-bottom: 15px;
}

#promo .button {
        background-color: #03256c;
        color: #ffff;
        border-radius: 20px;
        width: 20%;
    }


.cartbutton{
    margin-left: 10em;
}

.cartbutton:hover{
    background-color: #6290C3;
    border-radius: 1em;

}

#HomeBox1{
    color: #6290C3;
}

.dropdown2 .dropdown-toggle {
    background-color: #007bff;
    color: white;              
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;    

}

/* Hover effect */
.dropdown2 .dropdown-toggle:hover {
    background-color: #0056b3; 
}

.dropdown2 .dropdown-menu {
    background-color: #fff;  
    border-radius: 5px;
}


.dropdown2 .dropdown-item {
    color: #333;  
    font-size: 16px;
    padding: 10px;
}


.dropdown2 .dropdown-item:hover {
    background-color: #03256c;
    color: white;
} 
