{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} Pulse - {{product.name}} {% endblock title %}</title>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}" aria-current="page">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:all_products' %}" aria-current="page">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
      </ol>
{% if is_manager %}
    <a class="btn btn-secondary" href="{% url 'pages:game_edit' product.category.id product.id %}">Edit game</a>
    <a class="btn btn-secondary" href="{% url 'pages:game_delete' product.category.id product.id %}">Delete game</a>
{% endif %}
  </nav>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    {% if product.picture %}
                    <div style="min-width:25rem; max-width:25rem;">
                        <img  style="max-width:40rem;"src="{{product.picture.url}}" 
                        alt="{{product.name}}">
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h1 class="my_prod_title">{{product.name}}</h1>
                        <br>
                        <p>€{{product.price}}</p>
                        <p>Genre: {{product.category.name}}</p>
                        <p>Age Rating: {{product.age_rating}}+</p>
                        <p>Made by: {{product.developer.name}}</p>
                        <hr class="rounded">
                        <p class="my_title">Product Description:</p>
                        <p class="text-justify my_prod_text">{{product.description}}</p>
                        {% if user.is_authenticated %}
                        <hr class="rounded">
                        {% if product.stock <= 0 %}
                        <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                        {% else %}
                        <a class="btn btn-secondary" href="{% url 'wishlist:add_wishlist' product.id%}">Add to wishlist</a>
                        {% if product.preorder %}
                            <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id%}">Preorder</a>
                        {% else %}   
                            <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id%}">Add to cart</a>
                        {% endif %}
                        {% if product.preorder != True %}
                        <a class="btn btn-secondary" href="{% url 'pages:rent_game' product.id%}">Rent</a>
                        {% endif %}
                        {% endif %}

                        {% endif %}
                    </div>
                    <hr>
                    {% if product.preorder != True %}
                        <h3>Leave a Review:</h3>
                        {% if user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}
                                <label for="id_rating">Rating:(1-5):</label>
                                {{ form.rating }}
                                <br>
                                <br>
                                <label for="id_comment">Comment:</label>
                                {{ form.comment}}
                                <br>
                                <br>
                                {% if user_review %}
                                    <button type="submit" class="btn btn-primary">Update Review</button>   
                                {% else %}
                                    <button type="submit" class="btn-primary">Submit Review</button>
                                {% endif %}

                            </form>
                        {% else %}
                            <strong>To leave a review, Log in</strong> 
                        {% endif %}
                            <hr>
                        <h3>Reviews:</h3>
                            <ul>
                            {% for review in reviews %}
                            <li>
                                <strong>{{ review.user.username }}</strong>:
                                {{ review.rating }} stars - Comment: {{ review.comment }}
                            </li>
                            {% endfor %}
                            </ul>
                    {% else %}
                    You can review {{ product.name }} when it comes out!
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}