{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} PulseBar {% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-royalblue">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pages:homepage' %}">
          <img src="{% static 'images/pulse_logo-removebg-preview.png' %}" alt="Logo" height="50rem">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav"> 
              <li class="nav-item dropdown dropdown2">
                  <a class="nav-link dropdown-toggle" href="#" id="browseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Browse
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="browseDropdown">
                      <li><a class="dropdown-item" href="{% url 'pages:all_products' %}">Products</a></li>
                      <li><a class="dropdown-item" href="{% url 'pages:homepage' %}">Recommended</a></li>
                      <li><a class="dropdown-item" href="{% url 'pages:preorders' %}">Preorders</a></li>
                  </ul>
              </li>
          </ul>
      </div>
        <form class="d-flex" action="{% url 'search_app:searchResult' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            {% if user.is_authenticated %}
          </ul>
          <div class="mr-auto">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="{% static 'images/user.png' %}" alt="" height="40rem" width="40rem"> </a>
                <ul class="dropdown-menu dropdown-menu-end">

                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'user_profile' user.profile.pk %}">View Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'edit_profile' user.profile.pk %}">Edit Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                  <li><a class="dropdown-item" href="{% url 'order:order_history' %}">Order History</a></li>
                  <li> <hr class="dropdown-divider" /></li>
                  <li>
                    <form method="post" action="{% url 'logout' %}" style="display: inline">
                      {% csrf_token %}
                      <a href="#" onclick="event.preventDefault(); this.closest('form').submit();"
                        class="dropdown-item" style="color: black; cursor: pointer">Logout</a>
                    </form>
                  </li>
                  {%else%}
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <form method="post" action="{% url 'logout' %}" style="display: inline">
                      {% csrf_token %}
                      <a href="#" onclick="event.preventDefault(); this.closest('form').submit();"
                        class="dropdown-item" style="color: black; cursor: pointer">Logout</a>
                    </form>
                  </li>
                  {%endif%}
                </ul>
              </li>
                  {% else %}                  
            </ul>
          </div>
          <div class="mr-auto">
            <form class="form d-flex">
              <a href="{% url 'login' %}" class="btn btn-outline-secondary"
                >Log in</a
              >
              <a href="{% url 'csignup' %}" class="btn btn-primary ms-2"
                >Sign up</a
              >
            </form>
          </div>
          {% endif %}
        </div>
        <div class="shop" style="margin-right:8px">
          {% if item_count > 0 %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cart_detail' %}"  style="color: white;"><img src="{% static 'images/shopping-bag.png' %}" alt="Shopping Cart" height="40rem" width="45rem">({{item_count}})</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cart_detail' %}"><img src="{% static 'images/shopping-bag.png' %}" alt="Shopping Cart" height="40rem" width="45rem"></a>
          </li>
          {% endif %}
        </div>

        <div class="shop">
        {% if item_count1 > 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'wishlist:wishlist_detail' %}"  style="color: white;"><img src="{% static 'images/heart.png' %}" alt="WishList" height="40rem" width="45rem">({{item_count1}})</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'wishlist:wishlist_detail' %}"><img src="{% static 'images/heart.png' %}" alt="Wishlist" height="40rem" width="45rem"></a>
        </li>
        {% endif %}
      </div>
      </div>
    </nav>
    <main>
      <div class="container">{% block content %} {% endblock content %}</div>
    </main>
    <!-- Bootstrap JavaScript Bundle -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-
        YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>