{% extends "base.html" %}
{% load static %}
{% block title %}
Pulse - Advanced Search 
{% endblock title %}
{% block content %}
<br>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}" aria-current="page">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'pages:all_products' %}" aria-current="page">Products</a></li>
  <li class="breadcrumb-item active" aria-current="page">Filter</li>
</ol>

<main role="main" class="container">

<h3>Filter Games</h3>
      <form method="GET" action=".">
        <div class="form-row">

            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Game..." />
                    <span class="input-group-append"> </span>
                </div>
            </div>        
        </div>

      <br>
        <div class="form-row row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="Genres">Game Developer</label>
            <select class="form-control" name="developer">
              <option selected value= '' >---</option>
              {% for dev in developers%}
              <option value="{{ dev }}">{{ dev }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="Genres">Game Genres</label>
            <select class="form-control" name="category">
              <option selected value= '' >---</option>
              {% for cate in categories %}
              <option value="{{ cate }}">{{ cate }}</option>
              {% endfor %}
            </select>
          </div>
        <div class="form-group col-md-2 col-lg-2">
          <label for="MinAge">Minimum Age Rating</label>
          <select class="form-control" name="min_age">
            <option selected value= '' >---</option>
            <option value = '3'> 3+ </option>
            <option value = '7'> 7+ </option>
            <option value = '12'> 12+ </option>
            <option value = '16'> 16+ </option>
            <option value = '18'> 18+ </option>
          </select>
        </div>

        <div class="form-group col-md-2 col-lg-2">
          <label for="MaxAge">Maximum Age Rating</label>
          <select class="form-control" name="max_age">
            <option selected value=''>---</option>
            <option value = '3'> 3+ </option>
            <option value = '7'> 7+ </option>
            <option value = '12'> 12+ </option>
            <option value = '16'> 16+ </option>
            <option value = '18'> 18+ </option>
          </select>
        </div>

        <div class="form-group col-md-2 col-lg-2">
          <label for="PriceMin">Minimum Price</label>
          <input type="float" min=0 class="form-control" placeholder="Min" name="price_min">
        </div>

        <div class="form-group col-md-2 col-lg-2">
          <label for="PriceMax">Maximum Price</label>
          <input type="float" min=0 class="form-control"  placeholder="Max" name="price_max">
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="reviewed" name="reviewed">
          <label class="form-check-label" for="reviewed">
            Reviewed
          </label>
        </div>
      </div>
      <br>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <hr />

    <div class="row">
        <ul>
          {% for product in queryset %}
          {% if user.age >= product.age_rating%}
        <a href="{{product.get_absolute_url}}" style="text-decoration: none;">
            <ul>
              {% if product.picture %}
              <img style="width: 6rem; height: 8rem; object-fit: fill;" src="{{ product.picture.url }}" alt="{{product.name}}">
              {% endif %}
            {{ product.name }} |
            <span>{{ product.developer.name }}</span> |
            <span>{{ product.category.name }}</span> |
            <span>{{ product.age_rating }}+</span> |
            <span>€{{ product.price }}</span> |
            
            </ul>
            <hr />
            {% endif %}
            {% empty %}
            <p class="text-center"> Sorry, we couldn't find what you were looking for.</p>
            <p class="text-center"> Try filter through other prompts.</p>
          {% endfor %}
        </a>
      </div>
</main>
{% endblock content %}