{% extends "base.html" %}
{% load static %}

{% block title %}
  Rent - {{ product.name }}
{% endblock %}

{% block content %}
  <h2 class="mt-4">Rent "{{ product.name }}"</h2>

  <div class="row mt-3">
    <div class="col-md-4">
      <img src="{{ product.picture.url }}" alt="{{ product.name }}" class="img-fluid rounded">
    </div>
    <div class="col-md-8">
      <p class="lead">{{ product.description }}</p>
    </div>
  </div>

  <hr>

  <form method="post" class="mt-4">
    {% csrf_token %}



    <div class="mb-3">
      Duration: {{ form.duration }}
    </div>

    <button type="submit" class="btn btn-primary">Confirm Rental</button>
    <a href="{% url 'pages:all_products' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}

